<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://Testshenzhen.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>Testshenzhen.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TestShenzhen</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TestShenzhen</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TestShenzhenWebApplication.AzureDBContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:Testshenzhen.database.windows.net,1433;Initial Catalog=TestShenzhen_db;User ID=peteam@Testshenzhen;Password=Pass.word,peshenzhen" Name="Data Source=tcp:Testshenzhen.database.windows.net,1433;Initial Catalog=TestShenzhen_db;User Id=peteam@Testshenzhen;Password=Pass.word,peshenzhen" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="TestShenzhenWebApplication.AzureDBContext, TestShenzhenWebApplication" MigrationConfiguration="TestShenzhenWebApplication.Migrations.Configuration, TestShenzhenWebApplication" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TestShenzhenWebApplication.AzureDBContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:Testshenzhen.database.windows.net,1433;Initial Catalog=TestShenzhen_db;User Id=peteam@Testshenzhen;Password=Pass.word,peshenzhen</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="TestShenzhenWebApplication.AzureDBContext" />
  </ItemGroup>
</Project>